@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
.root {
  .btns {
    display: flex;
    gap: 10px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 63px;
  }
  .left {
    display: flex;
    gap: 10px;
  }
  .curs {
    background: #ffffff;
    padding: 9px 13px;
    box-shadow: 0px 0px 10px 0px #00000026;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    letter-spacing: -0.02em;
    border-radius: 10px;
  }
  .top {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    margin-bottom: 20px;
    @include mobile {
      flex-direction: column;
    }
  }
  .block {
    background-color: var(--black);
    padding: 14px;
    max-width: 372px;
    // min-width: 362px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 10px 0px #00000026;
    @include mobile {
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
    }
  }
  .img {
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .h2 {
    color: white;
    white-space: nowrap;
  }
  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .linkBlue {
    background-color: var(--blue);
    color: white;
  }
  .info {
    padding: 29px 24px;
  }
  .infoH2 {
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 20px;
    max-width: 594px;
  }
  .link {
    color: var(--blue);
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: flex-start;
    row-gap: 10px;
  }
  .inputContainer {
    width: calc(100% / 3 - 24px);
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;

    @include mobile {
      width: 100%;
    }
    .inputTop {
      position: relative;
      border-radius: 10px;
    }
    .hintSvg {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      background-color: white;
      padding-left: 5px;
    }

    .comboboxIcon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      background-color: white;
      padding-left: 5px;
    }

    input {
      width: 100%;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.4px;
      letter-spacing: -0.02em;
      text-align: left;
      color: var(--black);
      padding: 18px 15px;
      box-shadow: 0px 0px 10px 0px #00000026;
      background-color: white;
      border-radius: 10px;
    }

    input::placeholder {
      color: var(--gray);
    }
    .inputHint {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0px;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      max-height: 0px;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
    .inputHintOpen {
      max-height: 300px;
      height: 100%;
      opacity: 1;
      padding: 14px 14px 6px 14px;
    }
    .comboBody {
      position: absolute;
      left: 0;
      top: 100%;
      background-color: white;
      box-shadow: 0px 0px 10px 0px #00000026;
      z-index: 1;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 0px;
      overflow: hidden;
      transition: all 0.3s ease 0s;
    }
    .comboBodyOpen {
      height: 120px;
      overflow-y: scroll;
    }
    .comboItem {
      padding: 10px;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.4px;
      letter-spacing: -0.02em;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }

    .comboItem:hover {
      opacity: 0.8;
    }
    .comboHint {
      right: 42px;
    }
  }

  .total {
    background-color: var(--black);
    display: flex;
    width: calc(100% * 2 / 3 - 24px);
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 15px;
    padding: 14px;
    @include mobile {
      width: 100%;
      flex-direction: column;
    }
  }
  .totalTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile {
      flex-direction: row;
      margin-bottom: 10px;
    }
  }
  .totalH2 {
    color: white;
  }
  .totalPrice {
    color: var(--mint);
  }
  .totalBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 344px;
    width: 100%;
    @include mobile {
      max-width: 100%;
    }
  }
  .totalLabel {
    color: white;
    text-align: center;
  }
}
